/* ================
   Estilo Home
   ================*/
@font-face {
	font-family: "Open-Sans";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/AnnieUseYourTelescope.ttf");
}
@font-face {
	font-family: "Open-Sans2";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Pompiere-Regular.ttf");
}
html{
	height: 100%;
}
header{
	background: white;
	text-align: center;	
	border-bottom-style: dotted;
	border-color:#474E4B;
	padding:0.5%;
}
header img{
	display:inline-block;
	vertical-align: text-bottom;
}
.header_text{
	display:block;
	vertical-align: middle;
}
header h1{
	color:#FF9900;
	margin:0;
	display: inline-block;
	font-family: 'Open-Sans';
	
}
header p{
	color:#302727;
	display:block;
	text-shadow: 0px 2px 3px #969696;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
}
body{
	font-family: 'Calibri';	
	background-color: #1B1B1B;
	background-size: 20px 20px
}
nav{
	border-radius:5px;
	width:auto;
	margin-top:3%;
	margin-left:1%;
	background-color: whitesmoke;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid orange;	

}
.active_sub_menu a:hover{
	text-decoration:none;
	color:white;	
}
.active_sub_menu a{
	color:whitesmoke;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.active_sub_menu:hover{
	background-color: #BE4730 !important;
}
.nav-header:hover{
	filter: gray(0%);
	-webkit-filter:grayscale(0%);
	color:rgb(190, 71, 48);	
}
.nav-header{	
	filter: gray(100%);
	-webkit-filter:grayscale(100%);
}
.nav-header img{	
	margin-right: 5px;
}
.nav-header-active{
	color:#BE4730;
	filter: gray(0%);
	-webkit-filter: grayscale(0%);
}
.active_sub_menu{
  margin:0px;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #BE4730;
  
}
.item_menu_nav {
	padding: 8px 14px;
}
.item_menu_nav:hover {
background-color: #C4C4C4;
border-radius: 5px;
}
.item_menu_nav a:hover {
	text-decoration: none;
}
.nav-list .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}
.nav-list a:hover .icon-chevron-right {
opacity: .5;
}
.active a:hover{
	border-radius: 0px;
}
.datos_usuarios{
	width:auto;
	margin-left:1%;
	border-radius: 5px;
	background-color: whitesmoke;
	border: 1px solid orange;
	padding: 0.5% 0;
}
.link_dato_usuario {
	filter: gray;
	-webkit-filter: grayscale(30%);	
}
.link_dato_usuario:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
}
.imagen_dato_usuario{
	display: inline-block;
}
.imagen_dato_usuario img{
	width:50px;
	height: 50px;
	margin-left: 2%;
	display: inline-block;
	transition:all linear 1s;
	-webkit-transition:all linear 1s;
	border: 1.5px solid #777;
	vertical-align: middle;
	opacity: 0.8;
}
.imagen_dato_usuario img:hover{
	opacity: 1;
}
.texto_dato_usuario{
	display: inline-block;
}
.texto_dato_usuario b{
	color:#BE4730;
	
}
.imagen_dato_usuario{
	display:inline-block;
}

.texto_dato_usuario p{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0px;

}
.divisor{
	height: 55px;
  margin: 0 1px;
border-right: 1px solid orange;
border-left: 1px solid #F3EAD9;
  display: inline-block;
  vertical-align: middle;
}
.seccion_right{
	
	background-color: whitesmoke;
	display:inline-block;
	width:74%;
	border:1px solid orange;
	height: 480px;
	margin-top:1%;
	margin-right:0.5%;
	border-radius: 5px;
	
}
.seccion_left{
	display:inline-block;
	width:22%;
	vertical-align: top;
	margin:1%;	
}
.panel_trabajo{
	width:90%;
	margin :2% auto;
	
}

/* ================
   Estilo Gestion Asistencia
   ================*/
.marcado_asistencia_primero{
	display: block;		
}
.asistencia_fecha_sistema{
	width:auto;
	height: 100%;
}
.asistencia_fecha_sistema p{
	text-align: right;
	font-size: 30px;
	vertical-align: middle;
	margin:0;
	height: 100%;
}

.asistencia_consulta{
display: block;
width: 30%;
}
.asistencia_consulta form{
	margin:0;
}

.asistencia_consulta label{
	display:inline-block;
}
.asistencia_consulta input{
	display:inline-block;
}
.asistencia_hora_sistema{
	margin:45px 0 30px 0;
}
.asistencia_hora_sistema p{
	margin:0;
	text-align: right;
	font-size: 50px;
	color: #0B1E5C;
}
.marcado_asistencia_segundo{
	display: block;	
}
.marcado_asistencia_tercero{
	display: block;
	margin-top: 3%;
}
.marcado_asistencia_cuarto{
	display: block;
}
.asistencia_foto{	
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.asistencia_foto p{	
  margin:0;
}
.asistencia_datos{	
border-radius: 5px;
border: 2px solid #968B8B;
display: inline-block;
vertical-align: bottom;
width: 69%;
-webkit-box-shadow: 0px 0px 2px 3px #777;
-moz-box-shadow: 0px 0px 6px 3px #777;
box-shadow: 0px 0px 6px 3px #777;
background-color: white;
border-style: dotted;
height: 280px;
}
 .polaroid {
position: relative;
vertical-align: middle;
display:block;
}
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 0px 0px 6px 3px #777;
  -moz-box-shadow: 0px 0px 6px 3px #777;
  box-shadow: 0px 0px 6px 3px #777;
  width: 84%;
  height: 230px;
}
 
.polaroid p {
 position: absolute;
font: 400 30px/1 'Calibri', normal;
display: block;
text-align: center;
width: 90%;
bottom: 0px;
color: black;
  
}
.asistencia_datos div{
	margin:3.5% 2%;	
 	text-align: center;
}
.asistencia_ape_nom{
	display: block;
}

.asistencia_car_cic{
	display:block;
}
.asistencia_mensaje{
	display:block;
}
.asistencia_mensaje{
	text-align:center;
	
}
.asistencia_ape_nom p{
	color:#003977;
	text-align: center;
}
.asistencia_car_cic p{
	color: #1D1A19;
	text-align: center;
}
.asistencia_tipo p{
	color: #C26115;
	text-align: center;	
	text-shadow: 1px 1px 1px #A5A2A2;
	font-weight: bold;
}

.asistencia_mensaje p{
	color: #51A351;
	text-align: center;
	font-size: 42px;
	text-shadow: 1px 1px 1px #A5A2A2;
	font-weight: bold;
}
.asistencia_mensaje div{
	text-align: left;
}
.asistencia_mensaje img{
	margin-bottom: 10px;
}
.asistencia_mensaje div p{
	display: inline-block;
}
.asistencia_ape_nom p,
.asistencia_car_cic p,
.asistencia_mensaje p,
.asistencia_tipo p
{
	font-size: 30px;
	vertical-align: middle;
}
.asistencia_mensaje p{
	font-size: 35px;
}
#codigo_consultar{
	width:67%;
}
 #boton_consultar{
 	width:20%;
 }
 
 /* ================
   Estilo Gestion de Beneficiados
   ================*/
  
  
/* ==========================================================================
   Para media query.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

